body {
    font-family: 'Exo 2', sans-serif;
    background-color: #1E1E1E;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333333;
    padding: 5px; /* Smanjen padding sa 10px na 5px */
    text-align: center;
}

header h1 {
    margin: 0;
}

.video-container {
    display: flex;
    width: 100%;
    height: 90vh;
}

.video-list {
    width: 20%;
    background-color: #292929;
    padding: 10px;
    overflow-y: auto;
    bottom: 0; /* Postavljamo element na dno stranice */
}

.video-item {
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.video-item:hover {
    background-color: #444444;
}

.video-item img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 5px;
}

.video-item p {
    margin: 0;
}

.video-player {
    width: 80%;
    padding: 10px;
    position: relative;
}

iframe {
    width: 100%;
    height: calc(90vh - 20px);
}

.logo img {
    height: 40px; /* Podesite veličinu logo-a prema potrebi */
    width: 40px; /* Podesite veličinu logo-a prema potrebi */
    border-radius: 50%; /* Pretvaranje loga u krug */
}

.nav-header {
    display: flex;
    align-items: center; /* Poravnava tekst sa logom */
    margin-right: auto; /* Pomeranje na levu stranu */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.video-description-container {
    background-color: #1E1E1E; /* Svetliji box oko opisa */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    max-height: 200px; /* Maksimalna visina za skrolovanje */
    overflow-y: auto; /* Omogućava skrolovanje ako je opis prevelik */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Dodajemo ivicu */
}

.video-description {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.video-details {
    margin-left: 10px; /* Dodajemo razmak između thumbnailya i naslova */
}

.video-title {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
}
